 {{!-- 
   profile-block.handlebars                         
   card element with each individual's profile info. 
 --}}
<div class="col-12 col-md-6 col-lg-12">
<div class="card mb-3" {{!-- style="width: 18rem;" --}} >
  <div class="card-header">
    <h5 class="card-title">{{name}}</h5>
  </div>
  <div class="card-body">
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
    <p class="card-text">{{bio}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{restaurant1}}</li>
      <li class="list-group-item">{{restaurant2}}</li>
      <li class="list-group-item">{{restaurant3}}</li>
    </ul>
    <a href="#" class="card-link">Leave Message</a>
    {{!-- <a href="#" class="card-link">Another link</a> --}}
  </div>
</div>
</div>
